form label{
  display: block;
}
form {
  margin-left: 100px;
  font-size: 20px;
}
#pid,#pname,#pprice{
  padding: 10px 20px 5px 5px;
}
#pid{
  margin-left: 50px;
}
#pname{
  margin-left: 23px;
}
#pprice{
  margin-left: 32px;
}
form button{
  font-size: 15px ;
}
#table{
  margin-left: 100px;
}
#table th,td{
  padding: 15px;
}